.movie-button{
    display:inline-block;
    border:0.1em solid #FFFFFF;
    background: none;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    margin-top: 5px;
}

.movie-button:hover{
    background-color:#FFFFFF;
    color:#000000;
    
}

.movie-button:focus{
    outline:0;
}

