.drop-down{
    text-align: center;
    padding-bottom: 5px;
    background: none;
}

.heading{
    padding-right:10px;
}

#options{
    background: transparent;
    color:white;
    cursor: pointer;
    width:200px;
}

#options:focus{
    outline:0;
}