.nav-bar{
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    color:white;
}

.title{
    font-family: 'Bowlby One SC', cursive;
    font-size: x-large;
}