.user-account{
    text-align: center;
    margin-top: 20px;
}

.movie-list{
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

}

.movie-images{
    list-style: none;
    display: inline-block;
    padding: 5px;
}
