.user-account{
    text-align: center;
    margin-top: 20px;
}

.movie-list{
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;

}

.savedMovie{
    list-style: none;
    padding: 10px;
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.savedMovie:hover,
.savedMovie:active {
  transform: scale(1.1);
}